.table{
	margin: 50px auto;
	/*text-align: center;*/
}
.action-icon{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	color: #0069D9 !important;
}
.overlay{
	width: 100%;
	height: 100%;
	top:0px;
	left: 0px;
	position: fixed;
	background-color: rgba(5,5,5,0.8);
}
.view{
	display: none;
}
.view-content{
	margin: 100px auto;
	background-color: #fff;
	padding: 100px 100px;
}
.view-content table{
	margin: auto;
	font-size: 20px;
}
.view-content table td{
	padding: 10px 0px;
}
.view-content h2{
	margin-bottom: 50px;
}
.bold{
	font-weight: bold;
}
.view-btn-close{
	width:40%;
	margin: auto;
	padding-top: 20px;
}
.btns{
	width:80%;
	margin: auto;
	padding-top: 20px;
}
.btns button{
	margin: 20px 10px;
	min-width: 100px;
}
.edit{
	display: none;
}
.edit-content{
	margin: 100px auto;
	background-color: #fff;
	padding: 100px 100px;
}
.edit-content form{
	padding: 20px 100px 10px 100px;
}
.chkbx-table{
	width: 20px !important;
	height: 20px !important;
	color: #0069D9 !important;
}

.add{
	display: none;
}
.add-content{
	margin: 100px auto;
	background-color: #fff;
	padding: 100px 100px;
}
.add-content form{
	padding: 20px 100px 10px 100px;
}

.view-list{
	display: none;
}